/* Styles */
h1 {
    font-size: 24px;
    text-align: center;
  }

h2 {
  font-size: 18px;
  text-align: left;
  }



.story {
  text-align: left;
}

.inputBox {

  width: 800px;
  margin: 0 auto;
}


body {
    background-color: #050016;
    color: rgb(255, 255, 255);
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    text-align: left;

}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eaeaea;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    width: 85px;
    text-align: center;
  }

  .button:hover {
    background-color: #ccc;
  }

  .warning {
    color: red;
    font-weight: 900px;
  }

 .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
 }