/* Styles */

body {
    background-color: #050016;
    color: rgb(255, 255, 255);
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    text-align: left;
    margin: 10;
    padding-bottom: 50px; /* Height of the footer */
}
/* Margin for desktop */
@media (min-width: 768px) {
  body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
  }
}


/* Margin for mobile */
@media (max-width: 767px) {
  body {
      bottom: 5px;
      left: 5px;
  }
}

#titleDiv h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

#titleDiv h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

#titleDiv h3 {
  margin-top: 0;
  margin-bottom: 0px; 
  width: 60%;    
  margin: 0 auto;    
  text-align: center; 
}

h4 {
  margin-top: 0;
  margin-bottom: 0px; 
}


.wavy {
  animation-name: wavy;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}
@keyframes wavy {
  0% {
    top: 5px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 5px;
  }
}

#linx {
  color: white;
  text-decoration: underline;
}

/* Dropdown Button */
.dropbtn {
  background-color: #6431e6;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #4723a1;}

.menu-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically if needed */
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* image for desktop */
@media (min-width: 768px) {
  img {
    text-align: center;
    max-width: 600px;
    height: auto;
    margin: 10px 0;
    display: inline-block;
  }
}

/* image for mobile */
@media (max-width: 767px) {
  img {
    text-align: center;
    max-width: 300px;
    height: auto;
    margin: 10px 0;
    display: inline-block;
  }
}

#mediumPic {
  text-align: center;
  max-width: 200px;
  height: auto;
  margin: 10px 0;
  display: inline-block;
}

#mediumPicInvert {
  text-align: center;
  max-width: 200px;
  height: auto;
  margin: 10px 0;
  display: inline-block;
  filter: invert(100%);
}

#picInvert {
  filter: invert(100%);
}

.hidden-link {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #050016;
  color: #050016;
  padding: 10px;
  border-radius: 5px;
}

.hidden-link:hover {
  background-color: #6431e6;
  color: #fff;
}

/* Jazz Button */
.jazzy {
  background-color: #6431e6;
  color: white;
  padding: 1px;
  font-size: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

#circular-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}


a.sticker {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 50%;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
}

.sticker-text {
  transform: rotate(15deg);
  line-height: 1.2;
}